<html>
    <head>
        <title>Senha incorreta</title>
        <script>
            // abre uma caixinha pra gente clicar no botão e dps rodar o windows
            confirm("Senha incorreta")
            // para podermos fazer o redirect
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>